<div id="welcome" class="jumbotron">
  <h1 class="display-4">Thank you!</h1>
  <p class="lead">You finished the survey</p>
  <hr class="my-4">


        <%= link_to 'Go Back Home', root_path %>
</div>
